/* .grid-layout {
  display: grid;
  gap: 1.5rem;
  grid-template-areas: "A" "B" "C" "D" "E" "F";
}
.sections {
  border: 2px solid red;
  text-align: center;
  border-radius: 5px;
}

.sections:nth-child(4) {
  width: auto;

  vertical-align: middle;
  padding: 150px 0;
}
.sections:nth-child(1) {
  grid-area: A;
}
.sections:nth-child(2) {
  grid-area: B;
}
.sections:nth-child(3) {
  grid-area: C;
}
.sections:nth-child(4) {
  grid-area: D;
}
.sections:nth-child(5) {
  grid-area: E;
}
.sections:nth-child(6) {
  grid-area: F;
}

@media (min-width: 0px) {
  .grid-layout {
    grid-template-areas:
      "A A A A"
      "B B B B "
      "D D D D"
      "C C C C"
      "E E E E"
      "F F F F";
  }
}

@media (min-width: 500px) {
  .grid-layout {
    grid-template-areas:
      "A A A A"
      "B B B B "
      "C D D D"
      "E F F F";
  }
}
@media (min-width: 900px) {
  .grid-layout {
    grid-template-areas:
      "A A A A"
      "C B B E"
      "C D D E"
      "F F F F";
  }
} */
.grid-layout {
  display: grid;
  width: 100%;
  height: 100vh;
  place-items: center;
}
.color {
  height: 200px;
  width: 200px;
  background-color: red;
}
